<a href="https://colab.research.google.com/github/mochimochi0108/KaggleDiaryLog/blob/main/groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'city': ['osaka', 'osaka', 'osaka', 'osaka', 'tokyo', 'tokyo', 'tokyo'],
    'food': ['apple', 'orange', 'banana', 'banana', 'apple', 'apple', 'banana'],
    'price': [100, 200, 250, 300, 150, 200, 400],
    'quantity': [1, 2, 3, 4, 5, 6, 7]
})
df

    city    food  price  quantity
0  osaka   apple    100         1
1  osaka  orange    200         2
2  osaka  banana    250         3
3  osaka  banana    300         4
4  tokyo   apple    150         5
5  tokyo   apple    200         6
6  tokyo  banana    400         7

In [9]:
df.groupby(['food', 'city']).mean()

              price  quantity
food   city
apple  osaka  100.0       1.0
       tokyo  175.0       5.5
banana osaka  275.0       3.5
       tokyo  400.0       7.0
orange osaka  200.0       2.0